
nav ul {
  display: flex;
}
.topnav {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    background-color:#ffffff ;
    height: 150px;
    align-items: center;
  }

.topnav ul {
  display: inline-block;
  color:#545454;
  font-size:30px;
  margin: auto;
  width: 100%;
  vertical-align: middle; 
  height: 150px
}
  li {
    float: left;
    text-align: center;
    list-style-type: none;
  }
  
  .topnav li a {
    display: block;
    color: #545454;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav li a:hover {
    background-color: #ffa297;
  }

  nav ul>li ul {
    position: absolute;
    margin-top: 0;
    margin-left: 100%;
    display: none;
    }
    
   
    nav>ul>li:hover>ul{
    display: block;
    }

    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }
    
    .sticky + .content {
      padding-top: 60px;
    }



    ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      margin-top: 1rem;
      left: 0;
      display: none;
      font-size: 15px;
      padding: 5px;
    }
    
    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      position: relative;
      display:inline-flex;
      flex-direction:column;
      font-size: large;
    

    }
    ul li ul li {
      clear: both;
      width: 100%;
    }

 
    /* hide the topnav by default */
.topnav {
  display: none;
}

/* show the topnav when the hamburger is clicked */
#hamburger:checked ~ .topnav {
  display: block;
}

/* style the hamburger icon */
#hamburger {
  display: none;
}

label[for="hamburger"] {
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}


/* media query for smaller screens */
@media screen and (max-width: 640px) {
  #hamburger {
    display: inline-block;
  }

  .topnav li {
    display: none;
  }
}

/* media query for larger screens */
@media screen and (min-width: 601px) {
  #hamburger {
    display: none;
  }

  .topnav {
    display: block !important; /* override default "display: none;" */
  }

  .topnav li {
    display: inline-block;
  }

  .topnav ul {
    margin-right: 20px;
  }
}