body

h1 {color:#f9acb0;
    margin:auto;
    Text-align: center;
font-size: xx-large;} 
h2 {color:#545454;
    margin:auto;
text-align: center}


 
div.pinklink {
     width: 200px;
     border: 8px solid #545454;
     padding: 10px;
     margin-left: 70px;
     margin: auto;
     text-align: center;
     background-color: #f9acb0;
     color:  #545454}

    
div.qualities {
    color: #545454;
    font-family: Arial, Helvetica, sans-serif;

}

.qualities li {
    display:flex;
    flex-direction: column;
   justify-content: left;
    border: none;
    list-style-type: circle;
    text-align: left;
    color: #545454;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 0;  
    margin-left: 1px;
}




div.reflections {
  box-sizing: border-box;
  padding: 10px;
  margin: 20px 0;
}

div.reflections section:first-of-type p:first-of-type::first-letter {
    font-size: 3em;
    color: #f9acb0;
    text-align: left;
    text-indent: 0em;
}

div.reflections p {
    text-indent: 2em;
  }

  div.reflections .no-indent {
    text-indent: 0;
  }
div.reflections h2 {color:#545454;
    margin:auto;
text-align: justify;
margin-bottom: 30px;
margin-top: 50px;
}
