body

h1 {color:#ff99cc} 
 
div.pinklink {
     width: 200px;
     border: 8px solid #545454;
     padding: 10px;
     margin-left: 70px;
     margin: auto;
     text-align: center;
     background-color: #f9acb0;
     color:  #545454}
