body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    padding-left: 30px;
    
}

h1 {
    color: #f9acb0;
    margin: auto;
    text-align: center;
    font-size: xx-large;
}

img {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
  }

h2 {
    color: #545454;
    margin: auto;
    text-align: center;
}

p {
    font-size: large;
    padding-left: 10px;
    line-height: 1.25;
}


blockquote {
    padding-bottom: 50px;
    text-align: center;
    font-family: cursive;
}

p:first-of-type {
    margin-bottom: 1px;
  }

div.qualities {
    color: #545454;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 4px;

}

.qualities table {
    border-color: #f9acb0;
    border-collapse: collapse;
    width: 100%;

  }
  
  td {
    padding: 10px;
    padding-left: 30px;
    text-align: left;
  }

  th {
    padding: 10px;
    padding-left: 20px;
    text-align: left;
  }

.qualities li {
    display: block;
    border: none;
    list-style-type: circle;
    text-align: left;
    color: #545454;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 0;
    margin-left: 1px;
}

div.pinklink {
    width: 200px;
    border: 8px solid #545454;
    padding: 10px;
    margin-left: 70px;
    margin: auto;
    text-align: center;
    background-color: #f9acb0;
    color: #545454;
    margin-top: 50px; 
}

a {
    color: #545454;
  }

  a:hover {
    color: blue;
  }

div.reflections {
    box-sizing: border-box;
    padding: 10px;
    margin: 20px 0;
}

div.reflections section:first-of-type p:first-of-type::first-letter {
    font-size: 3em;
    color: #f9acb0;
    text-align: left;
    text-indent: 0em;
}

div.reflections p {
    text-indent: 2em;
}

div.reflections .no-indent {
    text-indent: 0;
}

div.reflections h2 {
    color: #545454;
    margin: auto;
    text-align: justify;
    margin-bottom: 30px;
    margin-top: 50px;
}

#container {
    width: 960px;
    margin: 0px auto;
}

#right-column {
    width: 260px;
    float:right;
}

#left-column {
    padding: 0 20px;
    float: left;
}

div.qualities ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:first baseline;
    padding-left: 5px;
}

div.qualities li {
    list-style: none;
    margin: 10px 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .wrapper>div {
    width: 48%;
  }
  

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: white;
    padding-left: 0;
    font-size: x-small; !important
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  .about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .about-text {
    width: 80%;
    display: inline-block;
    vertical-align: top;
  }
  
  .about-img {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    grid-column: 1;
    grid-row: 1;
    padding-left: 100px;
    padding-top: 50px;
  }
  
  .about-img img {
    max-width: 100%;
    height: auto;
  }

 .video-container {
    
}
        
      
  
  .video-container iframe {
   
  }
  
@media screen and (max-width: 959px) {
    #container {
        width: 100%;
    }
    #right-column {
        width: 30%;
    }

    #left-column {
        width: 70%;
        text-align: left;
    }
    img {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    #right-column {
        width: 100%;
    }
    #left-column {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    #container {
        width: 320px;
    }
}

  